@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.3;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.12);
    opacity: 1;
    -webkit-transform: scale(1.12);
    -moz-transform: scale(1.12);
    -ms-transform: scale(1.12);
    -o-transform: scale(1.12);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes down {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    -o-transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.0666666667);
}

a {
  text-decoration: none;
}

.header__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.8rem 12%;
}
.header__link .header__img {
  width: 7rem;
  height: auto;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
}
.header__link .header__img:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
.header__link-cont {
  font-size: 1.1rem;
  background-color: #fff;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #232323;
  font-weight: 700;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
}
.header__link-cont:hover {
  text-shadow: 0 0 0.5rem #fff;
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.nav {
  background-color: rgba(0, 0, 0, 0.7058823529);
  backdrop-filter: blur(5px);
  padding: 0 12%;
  position: sticky;
  top: 0;
  z-index: 60;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav__icon {
  display: none;
}
.nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.8rem;
  position: relative;
  height: 100%;
}
.nav__menu-sub {
  display: none;
  position: absolute;
  z-index: 50;
  top: 4rem;
  padding-top: 0.8rem;
  width: 13rem;
  background-color: rgba(0, 0, 0, 0.7058823529);
  border-radius: 0 0 0.5rem 0.5rem;
  -webkit-border-radius: 0 0 0.5rem 0.5rem;
  -moz-border-radius: 0 0 0.5rem 0.5rem;
  -ms-border-radius: 0 0 0.5rem 0.5rem;
  -o-border-radius: 0 0 0.5rem 0.5rem;
}
.nav__item-sub {
  white-space: nowrap;
  padding: 0.8rem 0.8rem;
  list-style-type: none;
}
.nav__item-down:hover .nav__menu-sub {
  display: block;
}
.nav__item {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  list-style-type: none;
  position: relative;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
}
.nav__item:hover {
  transform: translateY(0.3rem);
  -webkit-transform: translateY(0.3rem);
  -moz-transform: translateY(0.3rem);
  -ms-transform: translateY(0.3rem);
  -o-transform: translateY(0.3rem);
}
.nav__link {
  color: #fff;
  font-weight: 400;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
}
.nav__link-icon {
  margin-left: 0.8rem;
  color: #fff;
}
.nav__link:hover {
  background-color: rgba(255, 99, 71, 0.7);
}
.nav__link-onScreen {
  background-color: rgba(107, 107, 107, 0.5019607843);
}

@media screen and (max-width: 1080px) {
  .nav {
    justify-content: center;
  }
}
@media screen and (max-width: 770px) {
  .header__link {
    padding: 0.8rem 1.8rem;
  }
  .nav {
    z-index: 50;
    display: flex;
    justify-content: end;
    padding: 0;
  }
  .nav__menu {
    background-color: rgba(0, 0, 0, 0.7058823529);
    position: absolute;
    height: fit-content;
    top: 4rem;
    padding: 1.8rem;
    min-width: 17rem;
    display: none;
    border-radius: 0 0 0.3rem 0.3rem;
    -webkit-border-radius: 0 0 0.3rem 0.3rem;
    -moz-border-radius: 0 0 0.3rem 0.3rem;
    -ms-border-radius: 0 0 0.3rem 0.3rem;
    -o-border-radius: 0 0 0.3rem 0.3rem;
  }
  .nav__menu-sub {
    position: relative;
    top: 0.8rem;
    background-color: rgba(107, 107, 107, 0.5019607843);
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem 0.3rem;
    -moz-border-radius: 0.3rem 0.3rem;
    -ms-border-radius: 0.3rem 0.3rem;
    -o-border-radius: 0.3rem 0.3rem;
  }
  .nav__icon {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1.8rem;
  }
  .nav__icon-mobile {
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
  }
  .nav:hover .nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .nav__item-down {
    flex-direction: column;
    order: 2;
  }
  .nav__item-mobile-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .nav__link-icon {
    margin-left: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .header__link {
    padding: 0.8rem 5%;
  }
  .header__link-cont {
    font-size: 0.8rem;
  }
  .header__img {
    max-width: 5rem;
  }
  .nav {
    height: 3rem;
  }
  .nav__menu {
    top: 3rem;
  }
  .nav__icon {
    padding: 0.8rem 5%;
  }
}
.name {
  background-image: url(../img/casa-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  padding: 0 12%;
  height: 22.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.name__bg-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Cabin", serif;
  background-color: rgba(0, 0, 0, 0.2666666667);
  backdrop-filter: blur(5px);
  border-radius: 0.3rem;
  color: #fff;
  padding: 1rem 15%;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  animation-name: down;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.name__title {
  width: fit-content;
  font-size: 7rem;
  font-weight: 700;
  border-bottom: 0.3rem solid rgb(255, 99, 71);
  line-height: 1;
}
.name__sTitle {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  font-weight: 200;
}

@media screen and (max-width: 770px) {
  .name {
    height: 15rem;
  }
  .name__bg-text {
    padding: 1rem 5%;
  }
  .name__title {
    font-size: 5rem;
  }
  .name__sTitle {
    font-size: 3rem;
  }
}
@media screen and (max-width: 770px) {
  .name__title {
    font-size: 3.5rem;
  }
  .name__sTitle {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .name {
    background-position: 24rem 0;
  }
  .name__title {
    font-size: 3rem;
  }
  .name__sTitle {
    font-size: 1.8rem;
  }
}
.footer {
  position: relative;
  z-index: 20;
  background-color: #232323;
  padding-top: 0.8rem;
}
.footer .footer__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 8%;
}
.footer__logo-item {
  width: 10rem;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
}
.footer__logo-item:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
.footer__contact-icons {
  display: none;
}
.footer__contact-item {
  list-style-type: none;
  padding: 0.3rem 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer__icons {
  color: #fff;
  font-size: 1.5rem;
}
.footer__contact-link, .footer__nav-link {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 400;
  padding-left: 1rem;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
}
.footer__contact-link:hover, .footer__nav-link:hover {
  transform: translateX(0.5rem);
  -webkit-transform: translateX(0.5rem);
  -moz-transform: translateX(0.5rem);
  -ms-transform: translateX(0.5rem);
  -o-transform: translateX(0.5rem);
}
.footer__nav-item {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.3rem 0;
}
.footer__bottom {
  border-top: 2px solid rgba(107, 107, 107, 0.5019607843);
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.8rem;
  padding: 0.5rem;
}
.footer__bottom-copyright, .footer__bottom-tyc {
  color: rgba(255, 255, 255, 0.3137254902);
  font-size: 1.1rem;
  font-weight: 400;
}
.footer__bottom-tyc {
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
}
.footer__bottom-tyc:hover {
  color: #fff;
}

@media screen and (max-width: 1080px) {
  .footer__logo-item {
    width: 8rem;
  }
  .footer__bottom-copyright, .footer__bottom-tyc {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 770px) {
  .footer {
    padding: 0.5rem;
  }
  .footer__icons {
    display: none !important;
  }
  .footer .footer__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 0.8rem;
    margin: 0.5rem;
  }
  .footer__logo-item {
    margin: 0.5rem;
  }
  .footer__contact {
    padding: 0.5rem;
    border-top: 2px solid rgba(107, 107, 107, 0.5019607843);
    border-bottom: 2px solid rgba(107, 107, 107, 0.5019607843);
  }
  .footer__contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.8rem;
    margin: 0.8rem 0;
    color: rgba(255, 255, 255, 0.3137254902);
  }
  .footer__contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer__contact-link, .footer__nav-link {
    padding: 0;
  }
  .footer__contact-link:hover, .footer__nav-link:hover {
    transform: scale(1.08);
    transform: translateX(0);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
  }
}
.btn {
  width: fit-content;
  margin: 1rem auto;
}
.btn__link {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7058823529);
  border-radius: 1.8rem;
  padding: 0.5rem 1rem;
  transition: all ease-out 0.3s;
  -webkit-border-radius: 1.8rem;
  -moz-border-radius: 1.8rem;
  -ms-border-radius: 1.8rem;
  -o-border-radius: 1.8rem;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  font-size: 1.1rem;
  font-weight: 700;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
}
.btn__link:hover {
  color: rgb(255, 99, 71);
  background-color: #fff;
  box-shadow: 0 0 0.8rem rgba(107, 107, 107, 0.5019607843);
}

.fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: calc(100% - 5rem);
  left: calc(100% - 5rem);
}
.fixed__wpp-img {
  width: 4rem;
  height: auto;
  animation-name: pulse;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@media screen and (max-width: 1080px) {
  .fixed {
    left: calc(100% - 3rem);
  }
  .fixed__wpp-img {
    width: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .fixed {
    top: calc(100% - 5.5rem);
    left: calc(100% - 3.5rem);
  }
}
.info__letter {
  margin: 2rem 8%;
  padding: 1rem 8%;
  background-color: #fff;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.info__letter-text {
  font-size: 1rem;
  text-align: justify;
}

.laEmpresa {
  background-color: #fff;
  margin: 2rem 8%;
  border-radius: 0.3rem;
  padding: 1.8rem;
  display: grid;
  grid-template-areas: "title title" "fstCard sndCard" "trdCard frtCard" "btn btn";
  gap: 2rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.laEmpresa__title, .proyectos__title, .servicios__title {
  grid-area: title;
  font-size: 1.7rem;
  font-weight: 700;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7058823529);
  width: fit-content;
  padding: 0.3rem 0.8rem;
  border-radius: 0.3rem;
  transition: all ease-out 0.3s;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
}
.laEmpresa__title:hover, .proyectos__title:hover, .servicios__title:hover {
  background-color: rgb(255, 99, 71);
  cursor: default;
}
.laEmpresa__card, .proyectos__card {
  background-color: rgba(0, 0, 0, 0.0666666667);
  border-radius: 0.3rem;
  transition: all ease-out 0.3s;
  padding: 0.8rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
}
.laEmpresa__card:hover .laEmpresa__h3, .proyectos__card:hover .laEmpresa__h3 {
  color: rgb(255, 99, 71);
}
.laEmpresa__card-fst {
  grid-area: fstCard;
}
.laEmpresa__card-snd {
  grid-area: sndCard;
  overflow: hidden;
  padding: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  align-self: center;
}
.laEmpresa__card-trd {
  grid-area: trdCard;
}
.laEmpresa__card-frt {
  grid-area: frtCard;
}
.laEmpresa__card:hover, .proyectos__card:hover {
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.3);
}
.laEmpresa__card:hover .laEmpresa__card__h3, .proyectos__card:hover .laEmpresa__card__h3 {
  box-shadow: 0 3px 0 rgb(255, 99, 71);
}
.laEmpresa__video {
  width: 100%;
}
.laEmpresa-btn {
  grid-area: btn;
}
.laEmpresa__h3 {
  font-size: 1.5rem;
  width: fit-content;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
}
.laEmpresa__p {
  font-size: 1.1rem;
  margin: 1rem 0;
  text-align: justify;
}

.servicios {
  background-color: #fff;
  margin: 2rem 8%;
  border-radius: 0.3rem;
  padding: 1.8rem;
}
.servicios__cards {
  margin: 1.8rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 1.8rem;
}
.servicios__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 330px;
  background-color: rgba(0, 0, 0, 0.0666666667);
  padding: 1.8rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
}
.servicios__card:hover {
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.3);
}
.servicios__card:hover .servicios__card-sTitle {
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  color: rgb(255, 99, 71);
}
.servicios__card-logo {
  width: 150px;
  margin-bottom: 1rem;
}
.servicios__card-p {
  margin: 0.8rem;
  text-align: center;
  font-size: 1.1rem;
}

.proyectos {
  background-color: #fff;
  margin: 2rem 8%;
  border-radius: 0.3rem;
  padding: 1.8rem;
  display: grid;
  grid-template-areas: "title title" "fstCard sndCard" "btn btn";
  gap: 1.8rem;
}
.proyectos__title {
  grid-area: title;
}
.proyectos__card-fst {
  grid-area: fstCard;
  max-width: 500px;
}
.proyectos__card-snd {
  grid-area: sndCard;
  overflow: hidden;
  padding: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  align-self: center;
}
.proyectos__card-img {
  width: 100%;
  height: auto;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.proyectos__card-img-two {
  display: none;
}
.proyectos__p {
  text-align: justify;
}
.proyectos__list {
  margin-top: 1.8rem;
}
.proyectos__list-item {
  list-style-type: none;
  width: fit-content;
}
.proyectos__list-subTitle {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0.5rem;
}
.proyectos-btn {
  grid-area: btn;
}

@media screen and (max-width: 1080px) {
  .laEmpresa, .proyectos {
    padding: 0.8rem;
    gap: 0.8rem;
  }
  .proyectos__card-img-two {
    display: flex;
  }
  .proyectos__card-snd {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    height: auto;
    width: 100%;
    min-width: 280px;
    overflow: hidden;
  }
  .proyectos__card-snd:hover {
    box-shadow: none;
  }
  .proyectos {
    grid-template-areas: "title title title" "fstCard fstCard sndCard" "btn btn btn";
  }
  .servicios {
    padding: 0.8rem;
  }
  .servicios__cards {
    margin: 0.8rem 0;
    gap: 1rem;
  }
  .servicios__card {
    padding: 0.5rem 0;
  }
}
@media screen and (max-width: 800px) {
  .laEmpresa {
    display: flex;
    flex-direction: column;
  }
  .proyectos {
    display: flex;
    flex-direction: column;
  }
  .proyectos__card-fst {
    max-width: none;
  }
  .proyectos__card-img {
    max-width: 20rem;
  }
  .proyectos__list {
    flex-direction: column;
    gap: 0.5rem;
  }
  .proyectos__list-left {
    flex-direction: row;
  }
  .proyectos__list-right {
    flex-direction: row;
  }
  .servicios__cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 480px) {
  .laEmpresa, .servicios, .proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
  }
  .laEmpresa__title, .servicios__title, .proyectos__title {
    font-size: 1.5rem;
    background-color: rgba(255, 99, 71, 0.7);
  }
  .laEmpresa__card, .proyectos__card, .servicios__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .proyectos__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }
  .servicios__cards {
    grid-template-columns: 1fr;
  }
  .servicios__card {
    padding: 1rem 0;
  }
}
.laEmpresa__img {
  display: none;
}

@media screen and (max-width: 800px) {
  .laEmpresa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  .laEmpresa__img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/work-team-vertical.jpg);
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    height: 16rem;
    width: 100vw;
  }
  .laEmpresa__img-p {
    color: #fff;
    font-weight: 400;
    margin: 1.8rem;
    padding: 1.5rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7058823529);
  }
}
@media screen and (max-width: 480px) {
  .laEmpresa {
    overflow: hidden;
  }
  .laEmpresa__img {
    width: 500px;
  }
}
.info__container {
  background-color: #fff;
  margin: 2rem 8%;
  border-radius: 0.3rem;
  padding: 1.8rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.info__p {
  font-weight: 400;
  font-size: 1.5rem;
  width: fit-content;
  border-bottom: 0.3rem solid rgb(255, 99, 71);
  color: rgba(0, 0, 0, 0.7058823529);
  text-align: center;
}

.info__list {
  margin: 0.8rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.info__item {
  list-style-type: none;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
}
.info__item:hover {
  transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
}
.info__item-link {
  color: #fff;
  white-space: nowrap;
  font-size: 0.8rem;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.7058823529);
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.info__media-link {
  font-weight: 700;
  color: rgb(255, 99, 71);
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
}
.info__media-link:hover {
  color: rgba(255, 99, 71, 0.7);
}

.proyectos__page {
  margin: 2rem 8%;
}
.proyectos__page__card {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #fff;
  margin-bottom: 1.8rem;
  padding: 1.8rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.proyectos__page-text {
  max-width: 500px;
  margin-right: 1.8rem;
}
.proyectos__page-sTitle {
  font-size: 1.5rem;
  background-color: rgb(255, 99, 71);
  color: #fff;
  width: fit-content;
  padding: 0.3rem 0.5rem;
  margin-bottom: 1.8rem;
  text-align: center;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.proyectos__page-p {
  padding: 0.8rem;
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.0666666667);
  text-align: justify;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.proyectos__page-imgs {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.8rem;
  overflow: hidden;
  height: fit-content;
  width: 100%;
  align-self: center;
}
.proyectos__page-img {
  max-height: auto;
  width: 100%;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

@media screen and (max-width: 1200px) {
  .info__container {
    padding: 0.8rem;
  }
  .proyectos__page__card {
    margin-bottom: 2rem;
  }
  .proyectos__page-text {
    max-width: 400px;
  }
  .proyectos__page-imgs {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .proyectos__page__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.8rem;
  }
  .proyectos__page-text {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 1.8rem;
  }
}
@media screen and (max-width: 770px) {
  .info__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .info__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .info__media {
    text-align: center;
  }
  .info__media-link {
    font-size: 1.1rem;
    color: rgb(255, 99, 71);
    white-space: nowrap;
  }
  .proyectos__page-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .proyectos__page-imgs {
    gap: 0.3rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .info__container {
    margin: 1.8rem 0.8rem;
  }
  .info__p {
    font-size: 1.1rem;
  }
  .info__media-p {
    font-size: 1.1rem;
  }
  .proyectos__page {
    margin: 0.8rem 0;
  }
  .proyectos__page__card {
    margin: 1.8rem 0 1.8rem;
  }
  .proyectos__page-sTitle {
    margin-bottom: 0.8rem;
  }
  .proyectos__page-text {
    padding-bottom: 0.8rem;
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
