// colors
$dark: #232323;
$dark-t: #000000b4;
$gray-t: #6b6b6b80;
$light: #fff;
$light-t: #ffffff50;
$light-c: #0001;
$tomato: rgb(255, 99, 71);
$tomato-t: rgba(255, 99, 71, 0.7);

// measures
$R1: .8rem;
$R13: 1rem;
$r5: .5rem;
$r3: .3rem;
$r8: .8rem;
$R2: 1.8rem;

// font-size
$fs-mobile: .8rem; 
$fs-1: 1.1rem;
$fs-2: 1.5rem;
$fs-3: 1.7rem;
$fs-4: 4rem;
$fs-5: 7rem;


// paddings & margins
$margin-section: 2rem 8%;
$space-mobile: $r8 5%;

// transition
$soft: all ease-out .3s;

// border-bottom
$b-bottom: .3rem solid rgb(255, 99, 71);

// box-shadows
$text-shadow: 0 0 .5rem $light;
$box: 0 .3rem .8rem rgba(0, 0, 0, 0.3);


