
.footer{
    position: relative;
    z-index: 20;
    background-color: $dark;
    padding-top: $R1;

// footer top ----------------------------
    
    &__top{
        @include f-n-center(space-around);
        margin: $margin-section;
    }

// footer logo ----------------------------

    &__logo-item{
        width: 10rem;
        transition: $soft;
        -webkit-transition: $soft;
        -moz-transition: $soft;
        -ms-transition: $soft;
        -o-transition: $soft;
        &:hover{
            transform: scale(1.03);
            -webkit-transform: scale(1.03);
            -moz-transform: scale(1.03);
            -ms-transform: scale(1.03);
            -o-transform: scale(1.03);
        }
    }

// footer contacts ----------------------------
    &__contact-icons{
        display: none;
    }
    &__contact-item{
        list-style-type: none;
        padding: $r3 0;
        @include f-n-center(start);
    }
    &__icons{
        color: $light;
        font-size: $fs-2;
    }
    &__contact-link{
        font-size: $fs-1;
        color: $light;
        font-weight: weight(normal);
        padding-left: $R13;
        transition: $soft ;
        -webkit-transition: $soft ;
        -moz-transition: $soft ;
        -ms-transition: $soft ;
        -o-transition: $soft ;
        &:hover{
            transform: translateX($r5)        ;
            -webkit-transform: translateX($r5)        ;
            -moz-transform: translateX($r5)        ;
            -ms-transform: translateX($r5)        ;
            -o-transform: translateX($r5)        ;
}
    }

// footer nav ----------------------------

    &__nav-item{
        list-style-type: none;
        @include f-center(column);
        padding: $r3 0;
    }
    &__nav-link{    
        @extend .footer__contact-link;
    }
    
    // footer bottom ----------------------------
    
    &__bottom{
        border-top: 2px solid $gray-t;
        height: fit-content;
        @include f-center(row);
        gap: $R2;
        padding: $r5;
        &-copyright{
            color: $light-t;
            font-size: $fs-1;
            font-weight: weight(normal);
    
        }
        &-tyc{
            @extend .footer__bottom-copyright;
            transition: $soft;
            -webkit-transition: $soft;
            -moz-transition: $soft;
            -ms-transition: $soft;
            -o-transition: $soft;
            &:hover{
                color: $light;
            }
        }
    }
}


// responsive ----------------
@media screen and (max-width:1080px){
    .footer__logo-item{
        width: 8rem;
    }
    .footer__bottom-copyright{
        font-size: $fs-mobile;
    }
}

@media screen and (max-width: 770px){

    .footer{
        &__icons{
            display: none !important;
        }
        padding: $r5;

        &__top{
            @include f-center(column-reverse);
            gap: $R1;
            margin: $r5 ;
        }
        &__logo-item{
            margin: $r5;
        }
        &__contact{
            padding: $r5;
            border-top: 2px solid $gray-t;
            border-bottom: 2px solid $gray-t;
            &-icons{
                @include f-center(row);
                gap: $R1;
                margin: $r8 0;
                color: $light-t;
            }
            
            &-list{
                @include f-center(column);
            }
            &-link{
                padding: 0;
                &:hover{
                    transform: scale(1.08);
                    transform: translateX(0) ;
                    -webkit-transform: scale(1.08);
                    -moz-transform: scale(1.08);
                    -ms-transform: scale(1.08);
                    -o-transform: scale(1.08);
                }
            }
        }
        &__bottom{
            @include f-center(column);
            padding-top: $R1;
            gap: 0;
        }
    }
}

