// buttons
.btn{
    width: fit-content;
    margin: 1rem auto;

    &__link{
        position: relative;
        color: $light;
        background: linear-gradient(-40deg, $dark , $dark-t, $dark-soft);
        border-radius: $R2;
        padding: $r5 $R13;
        transition: $soft;
        -webkit-border-radius: $R2;
        -moz-border-radius: $R2;
        -ms-border-radius: $R2;
        -o-border-radius: $R2;
        -webkit-transition: $soft;
        -moz-transition: $soft;
        -ms-transition: $soft;
        -o-transition: $soft;
        font-size: $fs-1;
        font-weight: weight(bold);
        transition: all ease-out .3s;
        -webkit-transition: all ease-out .3s;
        -moz-transition: all ease-out .3s;
        -ms-transition: all ease-out .3s;
        -o-transition: all ease-out .3s;
        &:hover{
            color: $tomato;
            background-color: $light;
            box-shadow: .5rem 0 $R2 #fff;

            &::before{
                box-shadow: 0 0 $R1 $gray;
                opacity: 1;
            }
        }

        &::before{
            content: "Ver más";
            @include f-center(row);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            opacity: 0;
            border-radius: inherit;
            background-color: $light;
            -webkit-border-radius: inherit;
            -moz-border-radius: inherit;
            -ms-border-radius: inherit;
            -o-border-radius: inherit;
            transition: $soft;
            -webkit-transition: $soft;
            -moz-transition: $soft;
            -ms-transition: $soft;
            -o-transition: $soft;
}
    }
}