

.fixed{
    @include f-center(column);
    position: fixed;
    top: calc(100% - 5rem);
    left: calc(100% - 5rem);

    
    &__wpp{
        &-img{
            width: 4rem;
            height: auto;
            @include pulse(3s);
        }
    }
}

// responsive

@media screen and (max-width: 1080px){
    .fixed{
        left: calc(100% - 3rem);
        &__wpp-img{
            width: 3rem;
        }
    }
}

@media screen and (max-width: 480px){
    .fixed{
        top: calc(100% - 5.5rem); 
        left: calc(100% - 3.5rem);

        }   
}

