@import 'typo';
@import '../utilities/maps';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: $light-c;
}

html{
    font-family: $main-f;
    font-weight: weight(light);
    font-size: 19px;
}

// media queris

// @media  screen and (max-width: 1200px) and (min-width: 800px) {

//     html{
//         font-size: 16px;
//     }
// }
