*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    background-color: #ececec;
    font-family: 'Nunito sans', sans-serif  ;
}

a{
    color: #fff;
    text-decoration: none;
}

/* ----------- header -------------------------------------------------------------- */


.header__list{
    background-color: #ececec;
    position: relative;
    padding: 2rem 17rem;

   
}

.header__img{
    width: 4rem;
}

.header__contact{
    position: absolute;
    top: calc(50% - 1.37rem);
    left: calc(100% - 24rem);
    font-size: 1.3rem;
    color: #fff;
    background-color: #272727;
    padding: .5rem .7rem;
    border-radius: .8rem;
    text-decoration: none;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    transition: all ease-out .3s;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}

.header__contact:hover{
    font-weight: bolder;
    background-color: #272727c2;
}

/* ----------- nav bar -------------------------------------------------------------- */

nav{
    background-color: #232323;
    padding: 1rem 17rem;
}


.nav__menu{
    position: relative;
    width: fit-content;
    left: calc(100% - 30.25rem);
}



.nav__items{
    background-color: rgb(44, 67, 67);
    display: inline-block;
    font-size: 1.3rem;
    list-style-type: none;
    margin-right: 1rem;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    transition: all ease-out .3s;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}

.nav__items:hover{
    font-weight: bolder;
    background-color: rgb(66, 97, 97);
}

/* ----------- laEmpresa nav bar -------------------------------------------------------------- */

.nav__us{
    font-weight: bolder;
    background-color: rgb(66, 97, 97);
}

/* ----------- servicios nav bar -------------------------------------------------------------- */

.nav__serv{
    font-weight: bolder;
    background-color: rgb(66, 97, 97);
}

/* ----------- proyectos nav bar -------------------------------------------------------------- */

.nav__proy{
    font-weight: bolder;
    background-color: rgb(66, 97, 97); 
}

/* ----------- mainPage title section -------------------------------------------------------------- */

.name{
    padding: 0 17rem;
    height: 30rem;
    background-image: url(../img/casa.jpg);
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.name__background{
    height: 18rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    margin: 0 8rem;
    position: relative;
    top: calc(50% - 9rem);
}


.name__title{
    font-family: 'Cabin', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 9rem;
    position: relative;
    width: fit-content;
    left: calc(50% - 14.9rem);
    border-bottom: .3rem solid tomato;
    
}

.name__subTitle{
    font-family: 'Cabin', sans-serif;
    color: #fff;
    font-size: 5rem;
    font-weight: 100;
    letter-spacing: .2rem;
    width: fit-content;
    position: relative;
    left: calc(50% - 10.6rem);
}

/* ----------- laEmpresa title section -------------------------------------------------------------- */

.name__title-us{
    font-family: 'Cabin', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 9rem;
    position: relative;
    width: fit-content;
    left: calc(50% - 16.6rem);
    /* border-bottom: .3rem solid tomato; */
    top: -2.5rem;
    
}

.name__subTitle-us{
    font-family: 'Cabin', sans-serif;
    color: #fff;
    font-size: 7rem;
    font-weight: 100;
    letter-spacing: .2rem;
    width: fit-content;
    position: relative;
    left: calc(50% - 3.63rem);
}

/* ----------- servicios title section -------------------------------------------------------------- */

.name-serv{
    left: calc(50% - 16.85rem);
    top: 3.4rem;
}

/* ----------- proyectos title section -------------------------------------------------------------- */

.name-proy{
    top: 3.4rem;
    left: calc(50% - 18.75rem);

}

/* ----------- contactos title section -------------------------------------------------------------- */

.name-cont{
    top: 3.4rem;
    left: calc(50% - 19.21rem);
}

/* ----------- mainPage info section -------------------------------------------------------------- */

.info-letter{
    background-color: #fff;
    border-radius: .3rem;
    margin: 2rem 17rem 0 17rem;
    padding: 2rem 10rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.info-letter__text{
    font-size: 1.3rem;
    text-align: justify;
}

/* ----------- mainPage la empresa section -------------------------------------------------------------- */

.laEmpresa{

    background-color: #fff;
    margin: 2rem 17rem 0 17rem;
    padding: 2rem 4rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    height: 68rem;
}

.laEmpresa__title{
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
    background-color: #232323a8;
    display: inline-block;
    padding: .2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.laEmpresa__card{
    background-color: #ececec88;
    position: relative;
    width: 30rem;
    height: 25rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    transition: all ease-out .3s;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}

.laEmpresa div:nth-child(3){
    left: 35.6rem;
    top: -25rem;
    overflow: hidden;
    background-color: #2323236b;
}

.laEmpresa div:nth-child(4){
    top: -22rem;
}

.laEmpresa div:nth-child(5){

    top: -47rem;
    left: 35.6rem;
}


.laEmpresa__h3{
    font-size: 1.8rem;
    margin-left: 2rem;
    padding-top: 1rem;
    width: fit-content;
    transition: all ease-out .3s;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}

.laEmpresa__card:hover .laEmpresa__h3{
    box-shadow: 0 3px 0 tomato;
}

.laEmpresa__card:hover{
    box-shadow: 0 .3rem .8rem rgba(0, 0, 0, 0.3);
   
}

.laEmpresa__p{
    font-size: 1.5rem;
    margin: 1rem 2rem;
    text-align: justify;
}

.laEmpresa__video{
    position: relative;
    height: 28rem;
    width: 30rem;
}

.btn{
    position: relative;
    top: -45rem;
    left: calc(50% - 4.45rem);
    width: fit-content;
    padding: .6rem 1.8rem;
    border-radius: 2rem;
    background-color: #232323;
    transition: all ease-out .3s;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}

.btn__link{
    font-size: 1.5rem;
    font-weight: bolder;
    transition: all ease-out .3s;

}

.btn:hover{
    background-color: #fff;
    outline: 3px solid #232323;
}

.btn:hover .btn__link{
    color: #232323;
}

/* ----------- laEmpresaPage section -------------------------------------------------------------- */

.laEmpresa-us{
    height: 92rem;
}

.card__mision{
    top: -44rem;
}

.card__valores{
    top: -69rem;
    left: 35.6rem;
}


/* ----------- mainPage servicios section -------------------------------------------------------------- */

.servicios{
    background-color: #fff;
    margin: 2rem 17rem 0 17rem;
    padding: 2rem 4rem;
    height: 42rem;
}

.servicios__title{
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
    background-color: #232323a8;
    display: inline-block;
    padding: .2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.servicios__card{
    padding: 2rem;
    background-color: #ececec88;
    position: relative;
    width: 30rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    transition: all ease-out .3s;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}

.servicios div:nth-child(3){
    height: 26.68rem;
    left: 35.6rem;
    top: -26.68rem;
    overflow: hidden;
    background-image: url(../img/casa.jpg);
    background-size: cover;
}

.servicios__card:hover{
    box-shadow: 0 .3rem .8rem rgba(0, 0, 0, 0.3);
   
}

.servicios__p{
    font-size: 1.5rem;
    text-align: justify;
}

.servicios__list{
    font-size: 1.5rem;
    position: relative;
    left: 4rem;
    line-height: 2.5rem;
    padding-top: 1rem;
}

.btn-servicios{
    position: relative;
    top: -24.68rem;
}

/* ----------- serviciosPage section -------------------------------------------------------------- */

.card__container-serv{
    margin: 3rem 17rem;
    height: 69rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.card-serv{
    background-color: #fff;
    width: 30%;
    height: 32.5rem;
    padding: 2rem;
    position: relative;
    float: left;
    margin-bottom: 4rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    transition: all ease-out .3s;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}

.card-serv:nth-child(2), .card-serv:nth-child(5){
    left: 3.68rem;

}

.card-serv:nth-child(3), .card-serv:nth-child(6){
    float: right;
}

.card-serv:hover{
    box-shadow: 0 .3rem .8rem rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.card__img-serv{
    width: 6rem;
    height: 6rem;
    position: relative;
    left: calc(50% - 3rem);
}


.card__subtitle-serv{
    font-size: 1.5rem;
    width: fit-content;
    position: relative;
    left: calc(50% - 5.18rem);
    margin: 1rem 0;
    background-color: #c8c8c8;
    padding: .2rem 2rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.card__info-serv{
    font-size: 1.2rem;
    text-align: justify;
}

.btn-serv{
    top: 0;
    margin-top: 1rem;
    padding: .3rem 1rem;
    left: calc(50% - 3.29rem);
}

.btn__link-serv{
    font-size: 1.3rem;
}

/* ----------- mainPage proyectos section -------------------------------------------------------------- */

    .proyectos{
        background-color: #fff;
        margin: 2rem 17rem 0 17rem;
        padding: 2rem 4rem;
        height: 42rem;
    }
    
    .proyectos__title{
        font-size: 2rem;
        font-weight: bolder;
        color: #fff;
        background-color: #232323a8;
        display: inline-block;
        padding: .2rem 1rem;
        margin-bottom: 2rem;
        border-radius: .3rem;
        -webkit-border-radius: .3rem;
        -moz-border-radius: .3rem;
        -ms-border-radius: .3rem;
        -o-border-radius: .3rem;
    }
    
    .proyectos__card{
        padding: 2rem;
        background-color: #ececec88;
        position: relative;
        width: 30rem;
        border-radius: .3rem;
        -webkit-border-radius: .3rem;
        -moz-border-radius: .3rem;
        -ms-border-radius: .3rem;
        -o-border-radius: .3rem;
        transition: all ease-out .3s;
        -webkit-transition: all ease-out .3s;
        -moz-transition: all ease-out .3s;
        -ms-transition: all ease-out .3s;
        -o-transition: all ease-out .3s;
    }
    
    .proyectos div:nth-child(3){
        height: 26.68rem;
        left: 35.6rem;
        top: -26.68rem;
        overflow: hidden;
        background-image: url(../img/casa.jpg);
        background-size: cover;
    }
    
    .proyectos__card:hover{
        box-shadow: 0 .3rem .8rem rgba(0, 0, 0, 0.3);
    }
    
    .proyectos__p{
        font-size: 1.5rem;
        text-align: justify;
    }
    
    .proyectos__list{
        font-size: 1.5rem;
        position: relative;
        left: 4rem;
        line-height: 2.5rem;
        padding-top: 1rem;
    }
    
    .btn-proyectos{
        position: relative;
        top: -24.68rem;
    }

/* ----------- proyectosPage section -------------------------------------------------------------- */

.card__container-proy{
    margin: 0 17rem;
}

.card-proy{
    position: relative;
    margin: 3rem 0;
    padding: 2rem;
    height: 37.78rem;
    background-color: #fff;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    transition: all ease-out .3s;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}

.card-proy:hover{
    box-shadow: 0 .3rem .8rem rgba(0, 0, 0, 0.3);

}



.card__info-proy{
    position: relative;
    top: .6rem;
    width: 20rem;
}

.card__subtitle-proy{
    position: relative;
    left: calc(50% - 4.47rem);
    font-size: 1.5rem;
    width: fit-content;
    padding: .3rem 1rem;
    margin-bottom: 2rem;
    background-color: #b2b2b2;
    color: #fff;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.card__text-proy{
    font-size: 1.4rem;
    text-align: justify;

}

.card__img-proy{
    position: relative;
    width: 23rem;
    height: auto;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    transition: all ease-out .3s;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}

.card__img-proy:hover{
    box-shadow: 0 .3rem .8rem rgba(0, 0, 0, 0.3);
}

.card__img-proy:first-child{
    top: -31.56rem;
    left: 22rem;
}

.card__img-proy:nth-child(2){
    top: -14.31rem;
    left: -1.3rem;
}

.card__img-proy:nth-child(3){
    top: -31.56rem;
    left: .5rem;
}

.card__img-proy:nth-child(4){
    top: -30rem;
    left: 47rem;
}

/* ----------- contactos section -------------------------------------------------------------- */

/* contactos - formulario ------------------------ */

.cont__container{
    margin: 2rem 17rem;
    padding: 2rem;
    height: 32rem;
    background-color: #fff;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.cont__info{
    width: 65%;
    float: left;
}

.cont__info-subtitle{
    font-size: 2rem;
    margin-bottom: 1rem;
    width: fit-content;
    transition: all ease-out .3s;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}

.cont__info:hover .cont__info-subtitle{
    box-shadow: 0 3px 0 tomato;
}


.cont__input{
    width: 21.5rem;
    height: 3rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
    border: 0;
    background-color: #ecececb5;
    font-size: 1.2rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}


.cont__input:nth-child(2), .cont__input:nth-child(4){
    float: right;
} 

.cont__textarea{
    width: 45.31rem;
    height: 9rem;
    border: 0;
    background-color: #ecececb5;
    border-radius: .3rem;
    font-size: 1.2rem;
    padding: 1rem 1rem;
    font-family: 'Nunito sans', sans-serif  ;
    font-weight: bolder;

}

.cont__btn{
    width: fit-content;
    margin: 1.8rem 0;
    padding: .6rem 1.8rem;
    border-radius: .3rem 2rem 2rem .3rem;
    background-color: #232323;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all ease-out .3s;
    -webkit-border-radius: .3rem 2rem 2rem .3rem;
    -moz-border-radius: .3rem 2rem 2rem .3rem;
    -ms-border-radius: .3rem 2rem 2rem .3rem;
    -o-border-radius: .3rem 2rem 2rem .3rem;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}

.cont__btn:hover{
    background: #fff;
    color: #232323;
    outline: 1px solid #232323;
}

/* contactos - redes ------------------------ */

.cont__cont{
    float: right;
    position: relative;
    left: -2.5rem;
    top: 1rem;
}

.cont__cont-subtitle{
    font-size: 2rem;
    margin-bottom: 1rem;
    width: fit-content;
    transition: all ease-out .3s;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}

.cont__cont:hover .cont__cont-subtitle{
    box-shadow: 0 3px 0 tomato;
}

.cont__redes{
    margin-bottom: 2rem;
}

.cont__redes-subtitle{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color: rgb(219, 86, 63);
}

.cont__redes-link{
    font-size: 1.3rem;
    color: #636363;
    font-weight: bolder;
    margin-left: 1rem;
    transition: all ease-out .3s;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}

.cont__redes-link:hover{
    color: #232323;
}


.cont-icons{
    font-size: 2.2em;
    position: relative;
    top: .5rem;
    margin-right: 1rem;
}


/* footer section -------------------------------------------------------------- */

.footer{
    margin-top: 2rem;
}

.footer__top{
    width: 100%;
    background-color: #2d2d2d;
    padding: 2rem 17rem;
    height: 20rem;
    width: 100%;
}

.footer__item{
    float: left;
    position: relative;
}

.footer__item:first-child{
    top: 4.85rem;
}

.footer__item__logo{
    width: 10rem;
    height: auto;
}

.footer__item:nth-child(2){
    top: 4.5rem;
    left: 22.37rem;
}

.icons{
    color: #fff;
    position: relative;
    top: .2rem;
    margin-right: 1rem;
    font-size: 1.8rem;
}

.footer__contact__item{
    font-size: 1.3rem;
    list-style-type: none;
    line-height: 2.5rem;
    transition: all ease-out .3s;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}

.footer__contact__item:hover{
    font-weight: bolder;
}

.footer__item:nth-child(3){
    float: right;
    top: 3rem;
}

.footer__nav{


    font-size: 1.3rem;
    list-style-type: none;
    line-height: 2.5rem;
    text-align: center;
    font-weight: bolder;
}

.footer__nav__item{
    position: relative;
    left: 0;
    transition: all ease-out .2s;
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -ms-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
}

.footer__nav__item:hover{
    left: -.5rem;

}


/* footer bottom (copyright, TyC) -------------------------------------------------------------- */

.footer__bottom{
    background-color: #232323;
    height: 4rem;
    padding: 0 17rem;
}

.footer__copyright, .footer__tyc{
    color: #787878;
    font-size: 1.2rem;
    position: relative;
    top: 1.41rem;
    left: calc(50% - 22.42rem);
}

.footer__tyc{
    font-weight: bolder;
    padding-left: 2rem;
    border-left: 2px solid #ffffff6d;
    margin-left: 2rem;
    transition: all ease-out .3s;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -ms-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
}

.footer__tyc:hover{
    font-weight: 100;
    color: #fff;
}


